controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    # Define the controllers we want to use
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

# Parameters for the Arm Controller
arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity
    
    # Tolerances (Optional but good for simulation stability)
    stop_trajectory_duration: 0.5
    state_publish_rate: 50.0
    action_monitor_rate: 20.0
